<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Database setting  TEST -->
    <add key="DBConnectionString" value="Host=192.168.1.215;Port=5432;Username=postgres;Password=postgres123;Database=PCSJIM" />
    <add key="DBConnectionBatch" value="Host=192.168.1.215;Port=5432;Username=postgres;Password=postgres123;Database=PCSBatch" />
    <add key="routerwifi" value="10.100.2.13" />
    <add key="apirdax" value="http://192.168.1.215:371/"/>
    <add key="LokasiOutlet" value="TEST" />
    <add key="PMSIPClient" value="10.200.2.1" />
    

    <!-- Database setting  LIVE Debug  
    <add key="DBConnectionString" value="Host=10.200.1.10;Port=5432;Username=postgres;Password=PSG4dm1n;Database=IFD_LIVE" />
    <add key="DBConnectionBatch" value="Host=10.200.1.10;Port=5432;Username=postgres;Password=PSG4dm1n;Database=IFDBatch_LIVE" />
    <add key="routerwifi" value="10.200.1.254" />
    <add key="apirdax" value="http://192.168.1.178:371/"/>
	<add key="LokasiOutlet" value="SUNTER" />
	<add key="PMSIPClient" value="10.200.1.40" />
    -->

    <!-- Database setting  LIVE  publish 
    <add key="DBConnectionString" value="Host=127.0.0.1;Port=5432;Username=postgres;Password=PSG4dm1n;Database=IFD_LIVE" />
    <add key="DBConnectionBatch" value="Host=127.0.0.1;Port=5432;Username=postgres;Password=PSG4dm1n;Database=IFDBatch_LIVE" />
    <add key="routerwifi" value="10.200.1.254" />
    <add key="apirdax" value="http://192.168.1.178:371/"/>
    <add key="LokasiOutlet" value="SUNTER" />
    <add key="PMSIPClient" value="10.200.1.40" />
    -->

    <!-- Database setting  Local  publish 
    <add key="DBConnectionString" value="Host=127.0.0.1;Port=5432;Username=postgres;Password=admin;Database=IFD_TEST" />
	<add key="DBConnectionBatch" value="Host=127.0.0.1;Port=5432;Username=postgres;Password=admin;Database=IFD_Batch" />
	<add key="routerwifi" value="10.100.2.13" />
	<add key="apirdax" value="http://192.168.1.215:371/"/>
	<add key="LokasiOutlet" value="LOCAL" />
	<add key="PMSIPClient" value="10.200.2.1" />
    -->
	
    <add key="reportOdbcDSN" value="PostgreSQL35W" />	  
    <add key="housekeepingminutes" value="30" />	  
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	<add key="IDFTitle" value="INTERNAL FRONT DESK" />

	
	<add key="PMSIPPort" value="10003" />

	  <!-- Grid Styles -->
	<add key="Grid_MaxRows" value="15" />
	<add key="dateformat" value="dd-MMM-yyyy" />
	<add key="timeformat" value="HH:mm:ss" />
	<add key="datetimeformat" value="dd-MMM-yyyy HH:mm:ss" />
	<add key="currencyformat" value="{0:N2}" />
	<add key="apiemailsender" value="redz.hotel@bitubee.com" />
	<add key="routeruser" value="urbanapi" />
	<add key="routerpassword" value="urb112233" />
	<add key="routerssidhotspot" value="URBAN"/>
	  
  </appSettings>
  <system.web>
    <pages maintainScrollPositionOnPostBack="true" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669E0DDF0BB1AA2A" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
	    <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" executionTimeout="3600" maxRequestLength="1048576" />
    <customErrors mode="Off" defaultRedirect="~/Module/errorpage.aspx" />
    <sessionState mode="InProc" cookieless="false" timeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
	  <handlers>
		  <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
	  </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>